

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;

}

body {
    background-image: url('background1.jpg');
    background-repeat: repeat;
    background-size: 250px;
    
}
.container {

    max-width: 1000px;
    margin: 50px auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 250px minmax(0, 1fr);
}
header, nav, main, footer {

border: #fefeff 11px solid;
background-color: rgba(254, 254, 254, 0.759);
padding: 20px;
border-radius: 8px;
outline: 1px solid #999;


}
header {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.logo-text h1 {
    font-weight: 200;
    letter-spacing: 8px;
    margin: 0;
    font-size: 2em;
    color: #2c3e50;
    text-transform: uppercase;
}
.logo-text p {
    font-weight: 400;
    font-size: 0.8em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 5px;
    color: #777;
}


nav {

    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: max-content;

}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    margin-bottom: 10px;

}
nav a {
    text-decoration: none;
    color: #2c3e50;
    font-weight: 400;
    display: block;
    padding: 5px;
    transition: 0.3s;}

nav a:hover {
        color: #ebb5f6d9;
    }
main {

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    height: max-content;
}
main h2 {

    font-weight: 200;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #2c3e50;
    font-size: 1.1em;
    margin-top: 0;
    margin-bottom: 15px;
}
main p, main li {

    font-weight: 200;
    font-size: 0.9em;
    color: #777;
}
footer {

    grid-row: 3 / 4;
    grid-column: 1 / 3;
    text-align: center;
    font-size: 0.6em;

}
footer p{

    margin: 0;
    font-weight: 300;
}